/**
 * Defines CSS animations for entering and leaving a toast component.
 * @keyframes enterAnimation - Defines the animation for toast entering.
 *   - 0%: Translates the toast 200% down, scales it to 60%, and sets opacity to 0.5.
 *   - 100%: Brings the toast to its original position, scales it to 100%, and sets opacity to 1.
 * @keyframes leaveAnimation - Defines the animation for toast leaving.
 *   - 0%: Translates the toast slightly up, scales it to 100%, and sets opacity to 1.
 *   - 100%: Translates the toast 150% up, scales it to 60%, and sets opacity to 0.
 */
 .toast-enter {
  animation: enterAnimation 0.35s cubic-bezier(0.21, 1.02, 0.73, 1) forwards;
}

.toast-leave {
  animation: leaveAnimation 0.4s cubic-bezier(0.06, 0.71, 0.55, 1) forwards;
}

@keyframes enterAnimation {
  0% {
    transform: translate3d(0, 200%, 0) scale(0.6);
    opacity: 0.5;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes leaveAnimation {
  0% {
    transform: translate3d(0, 0, -1px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 150%, -1px) scale(0.6);
    opacity: 0;
  }
}
